<%- include ('partials/header') %>

<div class="container" style="text-align:center;" >
        <h1 style="text-align:center;">Create a new Campground</h1>
        <div style="width:40%; margin:20px auto;">
            <form action="/campgrounds" method="POST">
                <input class="form-control my-2" type="text" name="name" placeholder="Name">    
                <input class="form-control my-2" type="text" name="image" placeholder="Image Url">
                <button  class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
        <a href="/campgrounds">Go Back</a>
</div>

<%- include ('partials/footer') %>